/client/dist
/client/elm-stuff
/client/index.html
/client/node_modules
/cluster/inventory.yml
/cluster/*.log
/cluster/pubkey
/cluster/.vagrant
/cluster/variables.local.yml
/inventory.yml
/load-testing/tmp
/*.log
/server/_build
/server/config/env.exs
/server/cover
/server/deps
/server/doc
/server/erl_crash.dump
/server/tmp
/tmp
/.vagrant
/vagrant/*.log
